html{
    font-size: 2vw;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden !important;
    @media screen and (max-width: $break2) {
        font-size: 3vw;
    }
    @media screen and (max-width: $break1) {
        font-size: 6vw;
    }

    body{
        background-color: $turquoise-body-transparent;
        position: relative;
        padding: 0 !important;
    }

    nav{
        width: 100%;
        position: fixed;
        z-index: 100;
        top: -50vh;
        background: $turquoise-bg-transparent;
        .nav-item{
            color: $text-white;
            text-transform: uppercase;
            @include font-size(0.6rem);
            font-weight: bold;
            padding: 0.2rem 0.2rem;
            letter-spacing: 2px;
            img{
                width: 20%;
            }
            .mobile{
                display: none;
            }
            @media screen and (max-width: $break1) {
                span{
                    display: none;
                }
                .mobile{
                    img{
                        width:60%;
                    }
                    display: inline;
                    @include font-size(0.6rem);
                    div{
                        @include font-size(0.45rem);
                    }
                }
            }
        }
        .nav-item.active{
            color: orangered;
        }
    }

    #header{
        min-height: 100vh;
        background-image: url('/images/background.jpg');
        background-size: 100vw 100vh;
        background-position: center;
        background-repeat: no-repeat;
        .container{
            padding-top: 3vh;
            .headerTitle{
                h1{
                    letter-spacing: 10px;
                    @include font-size(2.5rem);
                    @media screen and (max-width: $break1) {
                        @include font-size(1.5rem);   
                    }
                    text-shadow: 5px 5px 3px rgba(0,0,0,0.3);
                    font-family: 'Lobster', cursive;
                    color: $text-brown;
                }
            }
            .headerNavigation{
                margin-top: 15vh;
                @media screen and (max-width: $break1) {
                    margin-top:5vh;
                }
                .headerMainItem{
                    a{
                        box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
                        display: block;
                        color: $text-white;
                        text-decoration: none;
                        margin: 0 auto;
                        background-color: $turquoise-bg;
                        width: fit-content;
                        border-radius: 50%;
                        &:hover{
                            background-color: $turquoise-bg-hover;
                        }
                        h2{
                            letter-spacing: 4px;
                            font-weight: bold;
                            margin: 0;
                            text-transform: uppercase;
                            @include font-size(1.5rem);
                        }
                    }
                }
                .headerMinorItems{
                    margin-top:10vh;
                    a{
                        box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
                        display: block;
                        margin: 0 auto;
                        width: fit-content;
                        color: $turquoise-bg;
                        text-decoration: none;
                        border-radius: 50%;
                        background-color: $text-white;
                        @media screen and (max-width: $break1) {
                            padding: 0.8rem !important;
                        }
                        &:hover{
                            background-color: $text-white-hover;
                        }
                        h3{
                            letter-spacing: 2px;
                            margin: 0;
                            @include font-size(0.8rem);
                            font-weight: bold;
                            @media screen and (max-width: $break1) {
                                @include font-size(0.35rem);
                            }
                            text-transform: uppercase;
                        }
                    }
                }
            }
            
        }
    }

    main{
        background-color: $text-white;
        position: relative;
        &:before{
            box-shadow: 15px 0 15px -15px inset;
            content: " ";
            height: 100%;
            position: absolute;
            top: 0;
            right: -15px;
            width: 15px;
        }

        &:after{
            box-shadow: -15px 0 15px -15px inset;
            content: " ";
            height: 100%;
            left: -15px;
            position: absolute;
            top: 0;
            width: 15px;
        }

        article,section{
            header{
                text-transform: uppercase;
                color: $text-brown;
                h2{
                    letter-spacing: 2px;
                    font-weight: bold;
                    @include font-size(1.5rem);
                    position:relative;

                    &:before,&:after{
                        content: "";
                        position: absolute;
                        height: 25%;
                        border-bottom: 5px solid $text-orange;
                        border-top: 2px solid $text-orange;
                        top: 45%;
                        width: 32%;
                        @media screen and (max-width: $break3){
                            width: 29%;
                        }  
                        @media screen and (max-width: $break1){
                            width: 0%;
                        }
                    }

                    &:before{
                        right: 68%;
                        @media screen and (max-width: $break3){
                            right: 75%;
                        } 
                    }

                    &:after{ 
                        left: 68%;                       
                        @media screen and (max-width: $break3){
                            left: 75%;
                        }  
                    }
                }
            }
            .aboutText{
                text-align: justify;
                letter-spacing: 2px;
                @include font-size(0.7rem);
                @media screen and (max-width: $break1){
                    @include font-size(0.5rem);
                }
                span.highlight{
                    font-weight: bold;
                    color:$turquoise-bg;
                }
            }
            .cardBox{
                @include font-size(0.5rem);
                padding: 1% 1%;
                background-color: rgba(192,192,192,0.4);
                -webkit-box-shadow:inset 0 0 10px 0 rgba(128,128,128,0.8);
                box-shadow:inset 0 0 10px 0 rgba(128,128,128,0.8);
                @media screen and (max-width: $break1){
                    .card-deck .card{
                        flex: unset;
                        margin-bottom: 15px;
                    }
                }
            }

            .productsSubTitle{
                text-align: center;
                text-transform: uppercase;
                h3{
                    @include font-size (0.8rem);
                    font-weight:500;
                    letter-spacing: 1px;
                    margin-bottom: 0;
                    .highlight{
                        font-weight: bold;
                        color: $turquoise-bg;
                    }
                }
                .productsSubTitle-divider{
                    margin: 0.5rem 0;
                    @include font-size(0.65rem);
                    font-weight: bold;
                }
                .productsTelephone{
                    @include font-size(1rem);
                    color: $turquoise-bg;
                    font-weight: bold;
                    a{
                        color: $text-orange;
                    }
                }
            }

            #productsForm{
                padding: 0;
                .product{
                    .productsIco{
                        @include font-size(1.5rem);
                        .productPlusIcon{
                            cursor: pointer;
                            @include font-size (1rem);
                            display: block;
                            text-align: right;
                            @media screen and (max-width: $break1){
                                @include font-size (0.8rem);
                            }
                        }
                        .productIcon{
                            cursor: help;
                            padding: 13% 0;
                            border: 1px solid black;
                            border-radius:50%;
                            width: 41%;
                            @media screen and (max-width: $break3){
                                width:50%;
                                padding: 15% 0;
                            }
                            @media screen and (max-width: $break1){
                                width:70%;
                                padding: 19% 0;
                            }
                        }

                        &.active{
                            .productIcon{
                                background-color: $turquoise-bg;
                                color: $text-white;
                                border:1px solid $turquoise-bg;
                            }
                        }
                    }
                    .productsDesc{
                        @include font-size(0.6rem);
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                    .productsBtn{
                        button{
                            letter-spacing: 2px;
                            @include font-size(0.5rem);
                            padding: 0.2rem 0.4rem;
                            text-transform: uppercase;
                            font-weight: bold;
                            color: $text-white;
                            background-color: $turquoise-bg;
                            display:none;
                        }
                    }
                }
                .productsMainItem{
                    .productPlusIcon{
                            @include font-size (1rem);
                            display: block;
                            text-align: right;
                            cursor: pointer;
                            padding-right: 2%;
                            @media screen and (max-width: $break1){
                                @include font-size (0.8rem);
                            }
                        }
                    .productsIco{
                        cursor: pointer;
                        @include font-size(2rem);
                        background-color: $turquoise-bg;
                        color: $text-white;
                        padding: 1.5% 0;
                        padding-bottom: 7%;
                        @media screen and (max-width: $break1){
                            padding: 1% 0;
                            padding-bottom: 18%;
                        }

                        .productsDesc{
                            @include font-size(1rem);
                            @media screen and (max-width: $break1){
                                @include font-size(0.65rem);
                            }
                            text-transform: uppercase;
                            font-weight: bold;
                        }

                        &.active{
                            background-color: $text-orange;
                        }
                    }
                    .productsBtn{
                        button{
                            letter-spacing: 1px;
                            @include font-size(0.5rem);
                            padding: 0.2rem 0.4rem;
                            text-transform: uppercase;
                            font-weight: bold;
                            color: $text-white;
                            background-color: $turquoise-bg;
                            display:none;
                        }
                    }
                }
                .productsAllBtn, .productsResetBtn, .productsLinkBtn{
                    background-color: $turquoise-bg;
                    letter-spacing: 2px;
                    color: $text-white;
                    @include font-size(0.5rem);
                    font-weight: bold;
                    @media screen and (max-width: $break3){
                        margin: auto;
                        width: 40%;
                    }

                    &:hover{
                        background-color: $turquoise-bg-hover;
                    }
                }

                .productsLinkBtn{
                    text-transform: uppercase;
                    @include font-size(0.7rem);
                    margin: 0 auto;
                    @media screen and (max-width: $break1){
                        -webkit-box-flex: 0;
                        flex: 0 0 66.6666666667%;
                        max-width: 66.6666666667%;
                    }
                }
                
            }

            .productsHelp{
                @include font-size(0.4rem);
            }

            #productModal{
                .modal-close-button{
                    padding-top: 2%;
                    padding-right: 2%;
                    button{
                        display: flex;
                        opacity: 1;
                        span{
                            @include font-size(0.7rem);
                            color: $text-black;
                        }
                        &:hover{
                            span{
                                color:$text-orange;
                            }
                        }
                    }
                }
                .modal-header{
                    border: 0;
                    padding:2%;
                    text-align: center;
                    h5{
                        @include font-size(1.2rem);
                        margin: 0 auto;
                    }
                }
                .modal-body{
                    p{
                        @include font-size(0.8rem);
                    }
                }
                .modal-footer{
                    border:0;
                    button{
                        padding: 1.5% 2%;
                        background-color: $turquoise-bg;
                        color: $text-white;
                        text-transform: uppercase;
                        font-weight: bold;
                        letter-spacing: 2px;
                        @include font-size(0.5rem);
                        &:hover{
                            background-color: $turquoise-bg-hover;
                        }
                    }
                }
            }

            .contactInfoBox, .contactOutputBox, .contactFormBox{
                header{
                    h3{
                        @include font-size(0.6rem);
                        font-weight: bold;
                        color: black;
                        letter-spacing: 2px;
                        margin-bottom: 2%;
                    }
                }
            }

            .contactInfoBox{
                header{
                    h3{
                        margin-bottom: 4%;
                    }
                }
                border-bottom: 1px solid #dee2e6;
                padding: 2% 5%;
                h4{
                    @include font-size(1.2rem);
                    margin-bottom: 0.2rem;
                    a{
                        color: $text-black;
                        text-decoration: none;
                    }
                }
                .content{
                    @include font-size(0.6rem);
                    font-weight: 600;
                    span,a{
                        font-weight: bold;
                        letter-spacing: 2px;
                        @include font-size(0.7rem);
                        color: $turquoise-bg;
                    }
                }

                @media screen and (max-width: $break3){
                    .contactInfoItem{
                        margin-bottom: 5%;
                    }
                }
            }

            .contactOutputBox{
                border-right: 1px solid #dee2e6;
                padding: 2% 5%;
                @media screen and (max-width: $break3){
                    border-right: 0;
                    border-bottom: 1px solid #dee2e6;
                    padding-bottom:2%;
                }

                .contactSelectedItem{
                    margin-right: 5%;
                    margin-top: 5%;
                    background-color: $turquoise-bg;
                    color: $text-white;
                    padding: 2.5%;
                    @include font-size(0.8rem);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .contactSelectedItemDesc{
                        width: 100%;
                        @include font-size(0.5rem);
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                }
            }
                
            .contactFormBox{
                padding: 2% 5%;
                @media screen and (max-width: $break3){
                    margin-top: 5%;
                }
                form{
                    .form-group{
                        margin-bottom: 0;

                        label{
                            @include font-size (0.6rem);
                            margin-bottom: 0.1rem;
                        }

                        input{
                            @include font-size (0.5rem);
                        }

                        .contactBtn{
                            background-color: $turquoise-bg;
                            color: $text-white;
                            @include font-size (0.5rem);
                            text-transform: uppercase;
                            letter-spacing: 1.5px;
                            font-weight: bold;
                            &:hover{
                                background-color: $turquoise-bg-hover;
                            }
                        }
                    }
                }
            }
        }

    }

    footer{
        background-color: $text-orange;
        color: $text-white;
        @include font-size(0.6rem);
        .text{
            @include font-size(0.50rem);
            @media screen and (max-width: $break1) {
                margin-top:3%;
            }
            .highlight{
                @include font-size(0.65rem);
                color: $turquoise-bg;
                font-weight: bold;
            }
        }
    }
}