html{
    font-size: 20px;

    nav{
        height: 10vh;
        width: 100%;
        position: fixed;
        top: -10vh;
        background: #f0f;
    }

    header{
        height: 100vh;
        background: gold;
    }
}