// Text colors
$text-white: rgb(255, 255, 255);
$text-orange: rgb(255, 140, 0);

// Background colors
$turquoise-bg: rgba(64, 224, 208,1);
$turquoise-bg-transparent: rgba(64, 224, 208,0.6);
$white-bg: 	rgb(249, 249, 249);

// Breakpoints

$break1: 610px;