// Text colors
$text-white: rgb(255, 255, 255);
$text-white-hover: rgb(222, 222, 222);
$text-orange: rgb(255, 140, 0);
$text-orange-hover: rgb(207, 114, 0);
$text-brown: rgb(165,42,42);

// Background colors
$turquoise-bg: rgba(64, 224, 208,1);
$turquoise-bg-transparent: rgba(64, 224, 208,0.6);
$white-bg: 	rgb(249, 249, 249);

// Breakpoints

$break1: 610px;